*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-verydarkblue: hsl(233, 47%, 7%);
  --color-darkdesaturatedblue: hsl(244, 38%, 16%);
  --color-softviolet: hsl(277, 64%, 61%);
  --color-white: hsl(0, 0%, 100%);
  --color-slightlytransparentwhite1: hsla(0, 0%, 100%, 0.75);
  --color-slightlytransparentwhite2: hsla(0, 0%, 100%, 0.6);
}

body {
  background: var(--color-verydarkblue);
  color: var(--color-white);
  font-family: 'Inter', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 96vh;
  width: 100%;
  padding: 1.5em;
}

.card {
  margin: 5em 0;
  background: var(--color-darkdesaturatedblue);
  width: 100%;
  min-height: 50vh;
  border-radius: 0px 10px 10px 0px;
}

.card .image1 {
  position: relative;
  width: 100%;
  height: 220px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(117, 56, 156, 0.7)), color-stop(80%, rgba(117, 56, 156, 0.5))), url(../images/image-header-mobile.jpg) no-repeat;
  background: linear-gradient(0deg, rgba(117, 56, 156, 0.7) 50%, rgba(117, 56, 156, 0.5) 80%), url(../images/image-header-mobile.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 3em;
}

.card .content {
  text-align: center;
  padding: 0 1.5em;
}

.card .content .card-heading {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

.card .content .card-body {
  color: var(--color-slightlytransparentwhite1);
  line-height: 28px;
  margin-bottom: 3em;
}

.card .content .card-description {
  margin-bottom: 3em;
}

.card .content .card-description .data {
  margin-bottom: 2em;
  line-height: 1.9em;
}

.card .content .card-description .data .number {
  font-size: 1.7em;
  font-weight: bold;
}

.card .content .card-description .data .name {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.8em;
  color: var(--color-slightlytransparentwhite2);
}

.violet {
  color: var(--color-softviolet);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1em;
}

.attribution a {
  color: var(--color-white);
  font-weight: 700;
  text-decoration: none;
}

.attribution a:hover {
  color: var(--color-softviolet);
}

@media (min-width: 1024px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    max-width: 1055px;
  }
  .card .image1 {
    display: none;
  }
  .card .image2 {
    position: relative;
    width: 100%;
    background: #75389c;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(117, 56, 156, 0.7)), color-stop(80%, rgba(117, 56, 156, 0.5))), url(../images/image-header-desktop.jpg) no-repeat;
    background: linear-gradient(0deg, rgba(117, 56, 156, 0.7) 50%, rgba(117, 56, 156, 0.5) 80%), url(../images/image-header-desktop.jpg) no-repeat;
    border-radius: 0 10px 10px 0;
  }
  .card .content {
    text-align: start;
    padding: 4.5em 5em 0 4.5em;
  }
  .card .content .card-heading {
    font-size: 1.5em;
  }
  .card .content .card-body {
    font-size: 0.9em;
    line-height: 25px;
  }
  .card .content .card-description {
    margin-bottom: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4.5em;
  }
  .card .content .card-description .data .number {
    font-size: 1.5em;
  }
  .card .content .card-description .data .name {
    letter-spacing: 1px;
  }
}